{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark bg-primary">
        <a href="showQuestionAdmin" class="btn btn-info">voir le formulaire</a>

        <a href="validateCreateForm" class="btn btn-info">Créer un nouveau formulaire</a>

        <a href="createQuestion" class="btn btn-info">Créer une question</a>

        <a href="createDocument" class="btn btn-info">Créer un document</a>

        <a href="showSchema" class="btn btn-info">Voir le schema</a>

        {% if app.user.role == 'ROLE_ADMIN' %}
            <a href="register" class="btn btn-info">Inscrire</a>
        {% endif %}

        </br></br>
        <p>voir la question:

            <select onchange="window.location.href=this.value;">
                <option></option>
                {% for question in repoQuestion %}
                    <option value="/showQuestionAdmin/{{ question.id }}">{{ question.libelle }}</a></option>
                {% endfor %}
            </select>
        </p>

        <p>
            supprimer le document:
            <select onchange="window.location.href=this.value;">
                <option></option>
                {% for document in repoDocument %}
                    <option value="/deleteDocument/{{ document.id }}">{{ document.nom }}</a></option>
                {% endfor %}
            </select>

        <img id="attention" src="http://www.xn--icne-wqa.com/telecharger-861">
        </p>
    </nav>


{% endblock %}
