{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    </br>
    <a href="/formAdmin" class="btn btn-info" id="ButtonCenter">retour</a>
    </br>
    </br>

    {% set taille=table|length %}
    <svg width="{{ taille * 100 }}px" height="{{ taille *50 }}px">

        {% for i in 0..table|length-1 %}
            {% set pasX = 300 %}
            {% set pasY = 50 %}
            {% if table[i]['element'].getClass()=="Question" %}

                <rect x="{{ table[i]['X']*1.25* pasX }}px"
                      y="{{ table[i]['Y']*1.25* pasY }}px"
                      height="{{ pasY }}px"
                      width="{{ pasX }}px"
                      rx="5px"
                      style="fill:white;stroke: green"/>

                <text fill="black" font-size="12px"
                      x="{{ table[i]['X']*1.25* pasX+30 }}px"
                      y="{{ table[i]['Y']*1.25* pasY+30 }}px">
                    <a xlink:href="showQuestionAdmin/{{ table[i]['element'].id }}">{{ table[i]['element'].code }}</a>

                </text>

                <line x1="{{ (table[i]['X']*1.25 + 0.5) * pasX + pasX/2 }}"
                      y1="{{ (table[i]['Y']*1.25+0.5) * pasY }}"
                      x2="{{ table[i+1]['X']*1.25 * pasX }}"
                      y2="{{ table[i+1]['Y']*1.25 * pasY +pasY/2 }}"
                      style="stroke:grey;stroke-width:2"/>

                {% if i>0 %}
                    <line x1="{{ (table[i]['X']*1.25 + 0.5) * pasX -pasX/2 }}"
                          y1="{{ (table[i]['Y']*1.25+0.5) * pasY }}"
                          x2="{{ table[i-1]['X']*1.25 * pasX +pasX }}"
                          y2="{{ table[i-1]['Y']*1.25 * pasY + pasY/2 }}"
                          style="stroke:grey;stroke-width:2"/>
                {% endif %}

            {% elseif table[i]['element'].getClass()=="Reponse" %}

                <rect x="{{ table[i]['X']*1.25* pasX }}px"
                      y="{{ table[i]['Y']*1.25* pasY }}px"
                      height="{{ pasY }}px"
                      width="{{ pasX }}px"
                      rx="5px"
                      style="fill:white;stroke: red"/>

                <text fill="black" font-size="12px"
                      x="{{ table[i]['X']*1.25* pasX+30 }}px"
                      y="{{ table[i]['Y']*1.25* pasY+30 }}px">
                    {{ table[i]['element'].code }}
                </text>

                {% if i<table|length %}
                    {% set j=table[i]['question'] %}
                    <line x1="{{ (table[i]['X']*1.25 + 0.5) * pasX -pasX/2 }}"
                          y1="{{ (table[i]['Y']*1.25+0.5) * pasY }}"
                          x2="{{ table[j]['X']*1.25 * pasX +pasX }}"
                          y2="{{ table[j]['Y']*1.25 * pasY +pasY/2 }}"
                          style="stroke:grey;stroke-width:2"/>
                {% endif %}


            {% endif %}
        {% endfor %}

    </svg>



{% endblock %}

