{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <p id=center>
        ATTENTION:Si vous créer un nouveaux formulaire le formulaire précédent seras supprimer.
    </p>
    <table class="tabcenter">
        <td>
            <a href="formAdmin" class="btn btn-danger">Anuler</a>
        </td>

        <td>
            <a href="createForm" class="btn btn-success">Continuer</a>
        </td>
    </table>


{% endblock %}
