{% extends 'base.html.twig' %}

{% block title %} - Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}

    <label for="username" class="required">Username</label>
    <input type="text" id="username" name="_username" required="required"
           value="{{ last_username }}" maxlength="255">


    <input type="hidden" id="password" name="_password" value="null">

    <button type="submit" class="btn btn-primary deep-orange lighten-2 waves-effect waves-light">
        Connexion
    </button>

    {{ form_end(form) }}
{% endblock %}

