{% extends 'base.html.twig' %}

{% block title %} - Register{% endblock %}

{% block body %}


    {{ form_start(form) }}

    <label>Nom</label>
    {{ form_widget(form.username) }}
    </br>
    <label>Mail</label>
    {{ form_widget(form.mail) }}
    </br>
    <label>Role</label>
    {{ form_widget(form.role) }}
    </br>
    <button type="submit" class="btn btn-primary deep-orange lighten-2 waves-effect waves-light">
        Inscription
    </button>

    {{ form_end(form) }}
{% endblock %}
