{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    {{ form_start(formReponse) }}
    {{ form_row(formReponse.besoin_rdv,{'attr':{'placeholder':"Votre Reponse"}})}}
    <button type="submit" class="btn btn-success">valider</button>
    {{ form_end(formReponse) }}


{% endblock %}