{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1 id="center"> Votre Reponse</h1>
    </br>
    <form method="post" action="/createReponseDate/{{ id }}/{{ reponse }}" style="height: 60%">

        <table style="width: 100%">

            <td style="text-align: center"> Date</td>
            <td style="text-align: center"> Delta</td>
            <tr></tr>
            <td style="text-align: center">
                date : <input type="date" name="date" value="0">
            </td>

            <td style="text-align: center">
                nombre de jour : <input type="number" name="jour" value="0" min="0">
                </br></br>
                nombre d'année : <input type="number" name="years" value="0" min="0">
                </br></br>
            </td>

        </table>
        <button type="submit" class="btn btn-success" value="choisir" id="ButtonCenter">valider</button>
    </form>
{% endblock %}
