{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Créer Votre Reponse</h1>

    {{ form_start(formReponse) }}
    <div id="reponse">
    {{ form_row(formReponse.libelle,{'attr':{'placeholder':"Votre Reponse"}})}}
        {{ form_row(formReponse.code,{'attr':{'placeholder':"Votre Code"}})}}
    </div>
    <div id="valider">
    <button type="submit" class="btn btn-success">valider</button>
    </div>
    {{ form_end(formReponse) }}


{% endblock %}