{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1> Votre Reponsse</h1>

    {{ form_start(formReponse) }}
    <div id="reponse">
        {{ form_row(formReponse.date,{'attr':{'placeholder':"Votre Reponse"}})}}
    </div>
    <div id="valider">
        <button type="submit" class="btn btn-success">valider</button>
    </div>
    {{ form_end(formReponse) }}


{% endblock %}