{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1> Créer Votre Reponsse</h1>



    {% if reponse.typeSelection=="RANGE" %}

        {{ form_start(formReponse) }}
        <div id="reponse">
            {{ form_row(formReponse.min,{'attr':{'placeholder':"min"}}) }}
            {{ form_row(formReponse.max,{'attr':{'placeholder':"max"}}) }}
        </div>
        <div id="valider">
            <button type="submit" class="btn btn-success">valider</button>
        </div>
        {{ form_end(formReponse) }}

    {% else %}


        {{ form_start(formReponse) }}
        <div id="reponse">
            {{ form_row(formReponse.min,{'label':'value:'},{'attr':{'placeholder':"value"}}) }}
        </div>
        <div id="valider">
            <button type="submit" class="btn btn-success">valider</button>
        </div>
        {{ form_end(formReponse) }}

    {% endif %}



{% endblock %}