{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Type de Question</h1>
    <table>
        <input type="radio" name="option" value="choix"
               onclick="document.location.href='/createReponse/{{ id }}'"/> Choix<br/>
        <input type="radio" name="option" value="number"
               onclick="document.location.href='/selectTypeSelectionNumber/{{ id }}'"/> Number<br/>
        <input type="radio" name="option" value="libre"
               onclick="document.location.href='/createReponseText/{{ id }}'"/> Libre<br/>
        <input type="radio" name="option" value="date"
               onclick="document.location.href='/selectTypeSelectionDate/{{ id }}'"/> Date<br/>

    </table>




{% endblock %}
