{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    </br>

    {{ form_start(formReponse) }}
    <div id="reponse">
        {{ form_row(formReponse.typeSelection) }}
        {{ form_row(formReponse.code) }}
    </div>
    <div id="valider">
        <button type="submit" class="btn btn-success">valider</button>
    </div>
    {{ form_end(formReponse) }}


{% endblock %}