{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    </br>

    <div class="content"><a href="/createDocument/{{ question.id }}" class="btn btn-primary">Creer un nouveau document </a></div>

    </br>

    <form method="get" action="/assignDocument/{{ question.id }}/{{ reponse.id }}">
        <SELECT name="document">
            {% for document in repoDocument %}
                <option value="{{ document.id }}">{{ document.nom }}</option>
            {% endfor %}
        </SELECT>
        <button type="submit" class="btn btn-success">Valider</button>
    </form>
{% endblock %}