{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="content"><a href="/createQuestion" class="btn btn-primary">Creer la
            question suivante </a></div>

    <form method="get" action="/assignFirstQuestion">
        <SELECT name="question">
            {% for question in repoQuestion %}
                <option value="{{ question.id }}">{{ question.libelle }}</option>
            {% endfor %}
        </SELECT>
        <input type="submit" value="choisir">
    </form>
{% endblock %}