{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Créer Votre question</h1>

    {{ form_start(formQuestion) }}
        {{ form_row(formQuestion.libelle,{'attr':{'placeholder':"Votre Question"}}) }}
        {{ form_row(formQuestion.code,{'attr':{'placeholder':"Votre Code"}}) }}
        <button type="submit" class="btn btn-success">valider</button>
    {{ form_end(formQuestion) }}

{% endblock %}