{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    </br>

    <div class="content"><a href="/createQuestion/{{ reponse.id }}" class="btn btn-primary">Creer la
            question suivante </a></div>

    </br>

    <form method="get" action="/assignSuivante/{{ reponse.id }}">
    <SELECT name="question">
        {% for question in repoQuestion %}
        <option value="{{ question.id }}">{{ question.libelle }}</option>
        {% endfor %}
    </SELECT>
        <button type="submit" class="btn btn-success">Valider</button>
    </form>
{% endblock %}