{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1> question : {{ question.getLibelle() }}</h1>
    <h2> code : {{ question.getCode() }} </h2>
    <a href="/changeQuestion/{{ question.id }}" class="btn btn-info">modifier la question</a>

    <a href="/deleteQuestion/{{ question.id }}" class="btn btn-info">supprimer la question</a>

    </br>
    <table id="reponse">
        {% set swap = true %}
        {% for reponse in question.reponses %}


            <td id="tdReponse">
                <h3> reponse : {{ reponse.getLibelle }} </h3>
                </br>
                <h4> code : {{ reponse.code }}</h4>
                <div class="content"><a href="/changReponse/{{ question.id }}/{{ reponse.id }}"
                                        class="btn btn-primary">modifier
                        la réponse</a></div>
                </br>
                {% set cpt=0 %}

                {% for document in reponse.documents %}
                    {% if (cpt==0) %}
                        list des Documents Requis:
                        </br>
                        {% set cpt=1 %}
                    {% endif %}
                    {{ document.nom }}
                    <a href="/removeDocument/{{ question.id }}/{{ reponse.id }}/{{ document.id }}"
                       class="btn btn-primary">X</a>
                    </br>
                {% endfor %}


                <div class="content"><a href="/selectDocument/{{ question.id }}/{{ reponse.id }}"
                                        class="btn btn-primary">ajouter
                        un document</a></div>
                </br>
                {% if reponse.besoinRdv %}
                    duré du rendez-vous: {{ reponse.besoinRdv }} minute
                {% endif %}
                <div class="content"><a href="/addTimeRdv/{{ question.id }}/{{ reponse.id }}"
                                        class="btn btn-primary">définir
                        la
                        duré </a></div>
                </br>
                {% if reponse.suivante %}
                    <div class="content"><a href="/showQuestionAdmin/{{ reponse.suivante }}"
                                            class="btn btn-primary">voir
                            la
                            question
                            suivante </a></div>
                    </br>
                    <div class="content"><a href="/createSuivante/{{ reponse.id }}" class="btn btn-primary">changer
                            la
                            question suivante </a></div>
                {% else %}
                    <div class="content"><a href="/createSuivante/{{ reponse.id }}" class="btn btn-primary">définir
                            la
                            question suivante </a></div>
                {% endif %}
                </br>

                <div class="content"><a href="/deleteReponse/{{ question.id }}/{{ reponse.id }}"
                                        class="btn btn-primary">suprrimer
                        la réponse</a></div>
                </br>

            </td>

            {% if swap %}
                {% set swap = false %}
            {% else %}
                <tr></tr>
                {% set swap = true %}
            {% endif %}
        {% endfor %}
    </table>

    <nav class="navbar navbar-dark bg-primary">
        <a href="/createReponse/{{ question.id }}" class="btn btn-info">ajouter une réponse</a>
        <a href="/formAdmin" class="btn btn-info">terminer</a>

        </br> </br>
        <p>aller à la question:
            <select onchange="window.location.href=this.value;">
                <option></option>
                {% for question in repoQuestion %}
                    <option value="/showQuestionAdmin/{{ question.id }}">{{ question.code }}</a></option>
                {% endfor %}
            </select>
        </p>
    </nav>



{% endblock %}
