{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}

  <h5> Plus aucune creneau de disponible contacter directement un agent</h5>
{% endblock %}
