{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}

    <h5>Vous avez Rendez-vous de {{ rendezVous[0].hDebut|date("h.i") }} heure
        à {{ (rendezVous[rendezVous|length-1].hDebut|date_modify("+15 minute")|date("h.i")) }} heure
        le {{ rendezVous[0].Disponibilite.date|date('d/m/y') }}</h5>
{% endblock %}
