{% extends 'base.html.twig' %}

{% block title %}Hello DisponibiliteController!{% endblock %}

{% block body %}

    <a href="/showPlanning/{{ creneau.getDisponibilite().getPlanning().getId() }}">Non</a>
    <a href="/deleteDisponibilite/{{ creneau.getDisponibilite().getId() }}/confirm">Oui</a>



{% endblock %}
