{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Créer Votre disponibilite</h1>

    {{ form_start(formDispo) }}

    {{ form_row(formDispo.date)}}
    {{ form_row(formDispo.hDebut)}}
    {{ form_row(formDispo.hFin)}}

    <button type="submit" class="btn btn-success">Valider</button>

    {{ form_end(formDispo) }}


{% endblock %}