{% extends 'base.html.twig' %}

{% block title %}Hello CreneauController!{% endblock %}

{% block body %}

    {#{{ form(delete_form, {'attr': {'onclick': 'return confirm("Are you sure?")'}}) }}#}

    <a href="/showPlanning/{{ creneau.getDisponibilite().getPlanning().getId() }}">Non</a>
    <a href="/deleteCreneau/{{ creneau.getId() }}/confirm">Oui</a>



{% endblock %}
