{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}

    <p> Nom : {{ user.username }}
        / Role :
        {% if(user.role=="ROLE_GEST") %}
            Gestionnaire
        {% endif %}
        {% if(user.role=="ROLE_ADMIN") %}
            Administrateur
        {% endif %}
        <a href="/createDisponibilite" class="btn btn-primary">creer une disponibilite</a></h5>
    </p>


    {#{% set now =  "now"|date(timezone="Europe/Paris") %}#}


    {#{% for dispo in dispos %}#}
    {#<div class="card" style="width: 18rem;">#}
    {#<div class="card-body">#}
    {#<h5 class="card-title">{{ dispo.date|date('m/d/Y') }}</h5>#}
    {#{% for creneau in dispo.creneaux %}#}
    {#<p class="card-text">#}
    {#{{ creneau.hDebut|date('H.i') }} {{ creneau.etat }}#}
    {#</p>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}

    {% set memoires = {} %}


    {% for dispo in dispos %}
        {% set pass = true %}
        {% for memoire in memoires %}
            {% if memoire == dispo.date %}
                {% set pass = false %}
            {% endif %}
        {% endfor %}

        {% if pass==true %}
            {% set memoires = memoires|merge([dispo.date]) %}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ dispo.date|date('d/m/Y') }}
                        <a href="/deleteDisponibilite/{{ dispo.id }}" class="btn btn-primary">X</a></h5>
                        <a href="/changDisponibilite/{{ dispo.id }}" class="btn btn-primary">modifier</a></h5>
                    {% for creneau in dispo.creneaux %}
                        <p class="card-text">
                            {{ creneau.hDebut|date('H.i') }} {{ creneau.etat }}
                            {% if creneau.etat=="OCCUPER" %}
                                <a href="/showProfil/{{ creneau.user.getId() }}" class="btn btn-primary">afficher
                                    Profil</a>
                            {% endif %}
                            <a href="/deleteCreneau/{{ creneau.id }}" class="btn btn-primary">X</a>
                        </p>
                    {% endfor %}

                    {% for dispo2 in dispos %}
                        {% if dispo2.getId() != dispo.getId() and dispo2.date == dispo.date %}
                            {% for creneau in dispo2.creneaux %}
                                <p class="card-text">
                                    {{ creneau.hDebut|date('H.i') }} {{ creneau.etat }}
                                    {% if creneau.etat=="OCCUPER" %}
                                        <a href="/showProfil/{{ creneau.user.getId() }}" class="btn btn-primary">afficher
                                            Profil</a>
                                    {% endif %}
                                    <a href="/deleteCreneau/{{ creneau.id }}" class="btn btn-primary">X</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
