<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">

    {% endblock %}

</head>


<body>

<div id="entete">

</div>

<div id="conteneur">
    {% block body %}
    {% endblock %}
</div>


<footer class="footer text-center text-muted bg-ulco pb-1">
    <div class="container align-middle">
        <div class="row  ">
            <div class="col-md-3 col-sm-12 text-left m-auto p-sm-3">
                <span class="align-middle">

                </span>
            </div>
            <div class="col-md-6 col-sm-12  text-center m-auto p-sm-3" style="font-size: 14px;">

                Université du Littoral Côte d'Opale<br/>
                <br/>
            </div>
            <div class="col-md-3 col-sm-12 text-right m-auto p-sm-3">
                 <span class="align-middle">
                    <a href="https://www.univ-littoral.fr/" target="_blank" data-fontsize="16">
                        <img src="https://www.univ-littoral.fr/wp-content/themes/ULCO2017/images/4cd120e5c4ce2c0656a7d8be7c4ddcdc_ULCO.jpg"
                             alt="logoulco" height="75"/>
                    </a>

                 </span>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
