{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

 <h1>Créer Votre document</h1>

    {{ form_start(formDocument) }}

    <div id="reponse">
    {{ form_row(formDocument.nom,{'attr':{'placeholder':"Votre Document"}})}}
    </div>

    <div id="valider">
    <button type="submit" class="btn btn-success">Valider</button>
    </div>

    {{ form_end(formDocument) }}


{% endblock %}