{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="row" style="height: 40%">
</div>

<div class="row" style="height: 20%">
    <div class="col-sm-5"></div>

    <div class="col-sm-7" id="libelle">
        Réponsse invalide
    </div>
</div>

<div class="row" style="height: 40%">
        <div class="col-sm-5"></div>

        <div class="col-sm-7" id="libelle">
        merci de contacter un administrateur
    </div>
</div>

{% endblock %}
