{% extends 'base.html.twig' %}

{% block body %}


    duré de rendez Vous: {{ user.timerdv }}
    <div class="list">
        <hr>
        {% for rep in userReponse %}
            {% if rep.user == user %}
                {% if rep.reponse.question.type == 'CHOICE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.libelle }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'DATE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.date|date('Y-m-d') }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'TEXT' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.text }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'NUMBER' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.value }}</p>
                {% endif %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
