{% extends 'base.html.twig' %}

{% block body %}

    </br>

    <div class="list">
        <hr>
    {% for rep in userReponse %}
        {% if rep.user == user %}
            {% if rep.reponse.question.type == 'CHOICE' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.libelle }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'DATE' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.date|date('d-m-Y') }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'TEXT' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.text }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'NUMBER' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.value }}</p>
            {% endif %}
            <hr>
        {% endif %}

    {% endfor %}
    </div>

    <h1 id="center"> {{ question.getLibelle() }}</h1>
    </br>
    <form method="get" action="/assignChoix/{{ user.id }}/{{ id }}" style="height: 60%">

        {% for reponse in question.reponses %}
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <h4>{{ reponse.getLibelle }}
                        <input type="radio" id="radio" name="choix" value="{{ reponse.id }}" required>
                    </h4>
                </div>
            </div>
        {% endfor %}

        <br>

        <button type="submit" class="btn btn-success" id="ButtonCenter">valider</button>


    </form>



{% endblock %}
