{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="list">
        <hr>
        {% for rep in userReponse %}
            {% if rep.user == user %}
                {% if rep.reponse.question.type == 'CHOICE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.libelle }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'DATE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.date|date('Y-m-d') }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'TEXT' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.text }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'NUMBER' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.value }}</p>
                {% endif %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>

    <h1 id="center"> Vous avez terminé</h1>

    </br>
    {% set cpt=0 %}
    {% for reponse in user.userReponses %}
        {% for document in reponse.reponse.documents %}
            {% if (cpt==0) %}
                <h4 id="center">-list des Documents Requis:</h4>
                {% set cpt=1 %}
            {% endif %}
            <p id="center"> {{ document.nom }} </br> </p>
        {% endfor %}

    {% endfor %}

    {% if (user.timeRdv!=null) %}
        <h4 id="center">-durée du rendez vous:{{ user.timeRdv }} min</h4>

        <div id="ButtonCenter">
            <a href="/takeRDV/{{ user.id }}" class="btn btn-primary">Prendre Rendez-Vous</a></h5>
        </div>
    {% else %}
        <h4 id="center">-Vous n'avez pas besoin de rendez vous.</h4>
    {% endif %}




{% endblock %}
