{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="list">

        <hr>
        {% for rep in userReponse %}
            {% if rep.user == user %}
                {% if rep.reponse.question.type == 'CHOICE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.libelle }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'DATE' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.date|date('Y-m-d') }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'TEXT' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.text }}</p>
                {% endif %}
                {% if rep.reponse.question.type == 'NUMBER' %}
                    <p> {{ rep.reponse.question.libelle }} {{ rep.value }}</p>
                {% endif %}
                <hr>

            {% endif %}
        {% endfor %}
    </div>
    <h1 id="center">{{ question.getLibelle() }}</h1>

    </br>

    <div id="center">
        {{ form_start(form) }}

        {{ form_row(form.value) }}
    </div>

    </br>

    <div class="col-sm-6"></div>

    <button type="submit" class="btn btn-success">valider</button>

    {{ form_end(form) }}

{% endblock %}
