{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="list">

<hr>
    {% for rep in userReponse %}

        {% if rep.user == user %}
            {% if rep.reponse.question.type == 'CHOICE' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.libelle }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'DATE' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.date|date('Y-m-d') }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'TEXT' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.reponse.text }}</p>
            {% endif %}
            {% if rep.reponse.question.type == 'NUMBER' %}
                <p> {{ rep.reponse.question.libelle }} {{ rep.value }}</p>
            {% endif %}
            <hr>

        {% endif %}

    {% endfor %}

</div>

    <h1 id="center"> {{ question.getLibelle() }}</h1>


    {{ form_start(form) }}



    <div id="center">
        {{ form_row(form.date) }}
    </div>
    </br>
    <div id="valider">
        <button type="submit" id="ButtonCenter" class="btn btn-success">valider</button>
    </div>



    {{ form_end(form) }}



{% endblock %}
